{% comment %}
  Postcode
{% endcomment %}

<div class="postcode-bar postcode-bar--{{ section.id }}">
  <div class="postcode-bar__wrap">
    <div class="postcode-bar__wrap__heading">
      <h2 class="colour--white">{{ section.settings.heading }}</h2>
      <h6 class="colour--white">{{ section.settings.subcopy }}</h6>
    </div>
    <div class="postcode-bar__wrap__form">
      <form
        class="postcode-bar__wrap__form__form"
        action="{{ routes.search_url }}"
        method="get"
        role="search"
        autocomplete="off"
      >
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <input
          class="postcode-bar__wrap__form__form__input [ js-postcode-bar-query ]"
          type="text"
          name="q"
          placeholder="Type in your postcode..."
        >
        <div class="postcode-bar__wrap__form__form__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M10.2019773,16.8862162 C6.51673904,16.8862162 3.52065047,13.887017 3.52065047,10.2025751 C3.52065047,6.51714763 6.51673904,3.51991958 10.2019773,3.51991958 C13.8872155,3.51991958 16.8852752,6.51714763 16.8852752,10.2025751 C16.8852752,13.887017 13.8872155,16.8862162 10.2019773,16.8862162 Z M18.5878222,16.0998504 L18.3115957,16.3760912 C19.6186147,14.6618758 20.4049401,12.5260675 20.4049401,10.2025012 C20.4049401,4.56803771 15.837137,0 10.2019773,0 C4.56780314,0 0,4.56803771 0,10.2025012 C0,15.8369647 4.56780314,20.405988 10.2019773,20.405988 C12.5253503,20.405988 14.6601374,19.6196222 16.3762358,18.3125361 L16.0990483,18.5887768 L21.5109797,24 L24,21.511838 L18.5878222,16.0998504 Z"></path>
          </svg>
        </div>
      </form>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Postcode Bar",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Get it today, browse our range",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subcopy",
      "default": "Enter postcode here for same day delivery",
      "label": "Subcopy"
    }
  ],
  "presets": [
    {
      "name": "Postcode Bar"
    }
  ]
}
{% endschema %}

<script>
  window.postcodes = [
    '0600',
    '0602',
    '0604',
    '0610',
    '0612',
    '0614',
    '0616',
    '0618',
    '0620',
    '0622',
    '0624',
    '0626',
    '0627',
    '0629',
    '0630',
    '0632',
    '0772',
    '0781',
    '0782',
    '0792',
    '0793',
    '0794',
    '0814',
    '0816',
    '1010',
    '1011',
    '1021',
    '1022',
    '1023',
    '1024',
    '1025',
    '1026',
    '1040',
    '1041',
    '1042',
    '1050',
    '1051',
    '1052',
    '1060',
    '1061',
    '1062',
    '1071',
    '1072',
    '2010',
    '2012',
    '2013',
    '2014',
    '2016',
    '2019',
    '2022',
    '2023',
    '2024',
    '2025',
    '2102',
    '2103',
    '2104',
    '2105',
    '2571',
    '2576',
  ];
</script>
